{% extends 'base.html.twig' %}

{% block body %}
    <h1>Habuwi</h1>
    {{ render(controller('App\\Controller\\SpendMoneyController:add')) }}
    {{ render(controller('App\\Controller\\SaveMoneyController:add')) }}
    {{ render(controller('App\\Controller\\AccountInfoController:totalAmount')) }}
{% endblock %}