{% extends 'base.html.twig' %}

{% block body %}
    <h1>Habuwi</h1>
    {{ render(controller('App\\Controller\\FrontendController:transactionForm')) }}
    {{ render(controller('App\\Controller\\FrontendController:totalAmounts')) }}
{% endblock %}